    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>{{ title_portfolio|safe }}</h2>
          <p>{{ p_portfolio|safe }}</p>
        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
                {% for category in categories %}
                    {% if forloop.first %}
                        <li data-filter="*" class="filter-{{ category.slug }}">{{ category }}</li>
                    {% else %}
                        <li data-filter=".filter-{{ category.slug }}">{{ category }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">
               <div class="col-lg-4 col-md-6 portfolio-item filter-{{ category.slug }}">
                   {% for photo in category %}
                        <div class="portfolio-wrap">
                            <img src="{{ photo.photo.url }}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{{ photo.photo.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                   {% endfor %}
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-{{ category.slug }}">
                    {% for photo in category %}
                        <div class="portfolio-wrap">
                            <img src="{{ photo.photo.url }}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{{ photo.photo.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>



                <div class="col-lg-4 col-md-6 portfolio-item filter-{{ category.slug }}">
                    {% for photo in category %}
                        <div class="portfolio-wrap">
                            <img src="{{ photo.photo.url }}" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="{{ photo.photo.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
