    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>{{ title_team|safe }}</h2>
          <p>{{ p_team|safe }}</p>
        </div>

        <div class="row">
            {% for item in team %}
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img src="{{ item.photo.url }}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>{{ item.name }}</h4>
                            <p>{{ item.description|safe }}</p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

      </div>
    </section><!-- End Team Section -->