<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>{{ title_testimonials|safe }}</h2>
          <p>{{ p_testimonials|safe }}</p>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
              {% for item in testimonials %}
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{ item.review|safe }}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="{{ item.photo.url}}" class="testimonial-img" alt="">
                            <h3>{{ item.name|safe }}</h3>
                            <h4>{{ item.description|safe}}</h4>
                        </div>
                    </div><!-- End testimonial item -->
              {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- End Testimonials Section -->
